/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: "PF Din";
    src: url(pfdintextcondpro-regular-webfont.woff);
}

body {
	font-family: "PF Din";
	padding: 50px;
	color: rgb(99,99,99);
}

.chart-wrapper {
	width: 70%;
	display: block;
	margin: auto;
}

.ct-chart .ct-label.ct-horizontal, .ct-chart .ct-label.ct-vertical {
	text-align: center;
	text-transform: uppercase;
	color: rgb(99,99,99);
}

h1 {
	text-align: center;
	font-size: 5em;
	color: rgb(99,2,157);
}

#submissions {
	text-align: center;
	font-size: 3em;
	line-height: 1.3;
}

.header {
	margin-bottom: 50px;
}

.header .left {
	width: 10%;
	float: left;
}

.header .left img {
	width: 100%;
}

.header .right {
	width: 80%;
	float: right;
	text-transform: uppercase;
	font-size: 5em;
	text-align: right;
	position: relative;
	top: -15px;
}

.clear {
	clear: both;
}