<head>
	<%= javascript_include_tag 'chartist' %>
</head>

<div class="header">
	<div class="left">
		<%= image_tag "logo.png" %>
	</div>	
	<div class="right">
		Results
	</div>
	<div class="clear"></div>
</div>


<div class="chart-wrapper">
	<div class="ct-chart ct-golden-section"></div>
</div>

<script>
$(function() {
	$.get('/votes', function(data) {

		options = {
			axisY: {
				labelInterpolationFnc: function (value) {
	    			return value === Math.floor(value) ? value : null;
				}
			}
		};

		new Chartist.Bar('.ct-chart', data, options).on('draw', function(drawData) {
			if(drawData.type === 'bar') {
				drawData.element.attr({
				  	style: 'stroke-width: 150px; stroke: RGB(99,2,157);'
				});
			};
		});
	});
});
</script>